<% if @roadmap %>
  
  <br>
  <h1><%="#{@roadmap.title}"%></h1>
  <a href=<%=@roadmap.project_link%>>Click acá para acceder a su proyecto</a>
  <br><br>




  <% @checkpoints.each do |checkpoint|%>
  <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
     <%="#{checkpoint.title}"%>
  </label>
</div>
<%end%>


  
<% end %>










