<section>
    <div class="col-12 floaty-vertical--middle floaty-horizontal--center floaty-unfloat-at--xs">
        <div class="floating-signup rel">
            <div class="container-fluid rel">
                <div class="row">
                    <div class="user-signup__intro">
                        <h1 style="text-align: center;">
                            BIENVENIDOS A PARAFFIN 游댠游댠游댠
                        </h1>
                        <img src="https://dfmas.df.cl/dfmas/site/artic/20220818/imag/foto_0000000720220818181149/Copia-de-WhatsApp-Image-2022-08-17-at-10.jpg" class="img-fluid" style="height: 60%;padding-left: 25%">
                        <p style="text-align: center;">
                            En esta aplicaci칩n, podr치s encontrar tus caminos para aprender de forma independiente. Haz click <a href="users/sign_in">치ca</a> o en el bot칩n de Sign-in para aventurarte en la experiencia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
