<div id="parallax-world-of-ugg">
  
<section>
  <div class="title">
    <h3>Let's do some</h3>
    <h1>CODE</h1>
  </div>
</section>

<section>
    <div class="parallax-one">
      <h2>游댠 PARAFFIN 游댠</h2>
    </div>
</section>

<section>
  <div class="block">
    <p class="line-break margin-top-10"></p>
    <h5 class="margin-top-10">En esta aplicaci칩n, podr치s encontrar tus caminos para aprender de forma independiente. Haz click <a href="users/sign_in">치ca</a> o en el bot칩n de Sign-in para aventurarte en la experiencia.</h5>
  </div>
</section>
</div>