<h1> <%="Checkpoint: #{@checkpoint.id}"%> </h1>
<br>
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Recurso</th>
      <th scope="col">Link</th>
    </tr>
  </thead>
  <% @checkpoint.resources.each do |resource|%>
  <tbody>
    <tr>
      <th scope="row"> <%= resource.id %> </th>
      <td> <%= resource.title %></td>
      <td> <%= resource.link %></td>
    </tr>
  </tbody>
  <% end %>
</table>