/* Checkpoint Button */

.active-checkpoint-button {
    background-color: #6be56f; /* Green */
    color: rgb(0, 0, 0)
}

/* Checkpoint Link */

.checkpoint-link {
    box-shadow: inset 0 0 0 0 #e9711b;
    color: #ffffff;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none; 
  }
  .checkpoint-link:hover {
    box-shadow: inset 100px 0 0 0 #66d5d5;
    color: white;
    text-decoration: none; 
  
  }
